<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>TicTacToe Algorithm</title>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <html ng-app><head><script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  </head>
  <body id = 'controller' ng-controller="tictaccontroller">
    <h1>Tic Tac toe adversarial search</h1>
    <div class="container">
      <div class="well">
        <div><button class="btn-primary btn-lg" ng-repeat="cell in board[0]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <div><button class="btn-primary btn-lg" ng-repeat="cell in board[1]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <div><button class="btn-primary btn-lg" ng-repeat="cell in board[2]" ng-disabled="isTaken(cell);" ng-click="move(cell);">{{ cell.value }}</button></div>
        <br/>

      </div>
    </div>
    <p>Para reiniciar refresca la página</p>

  </body>
</html>
    <script src="js/index.js"></script>
    <script src="js/ai.js"></script>
    <script src="js/game.js"></script>
    <script src="js/ui.js"></script>
</body>
</html>
